
<div class="row account-content">
    {{ form_start(themeForm, {'action': path('theme_app_tm', {'id': user.id })}) }}

        <div class="col-sm-4">
            {{ form_row(themeForm.theme) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(themeForm.font) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(themeForm.background) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(themeForm.saveTheme) }}
        </div>

    {{ form_end(themeForm) }}
</div>
