<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Menadżer zadań</title>
    <meta name="description" content="Task manager ver. {{ app_version }}">
    <meta name="author" content="ITPendent">

    {% block styleContainer %}
        <link rel="stylesheet" href="{{ asset('bundles/tm/css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}

</head>

<header>
    <div class="container-fluid">

        {% block headerContainer %}
        {% endblock %}

    </div>
</header>

{% block body %}
    <body>
{% endblock %}

    {% block bodyContainer %}
    {% endblock %}

{#<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>#}
<script src="{{ asset('bundles/tm/js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ asset('bundles/tm/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/tm/js/mason.min.js') }}"></script>
<script src="{{ asset('bundles/tm/js/ajax.js') }}"></script>
<script src="{{ asset('bundles/tm/js/main.js') }}"></script>


</body>

</html>